.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  color: #2e4765;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 600;
  font-size: 17px;
  padding: 25px 10px;
  transition: all 0.5s ease;
}

.tab-list-active,
.tab-list-item:hover {
  color: #fe7f5c;
  transition: all 0.5s ease;
}